body{  background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 overflow-x: hidden;   
}

#mapid { height: 600px;
margin-bottom: 50px;
}
.card{
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background: #777777 none repeat scroll 0 0;
    color: #ffffff;
border: 1px solid #000000;

}
.form-control{
border: 1px solid #000000;
}
.body{
    padding: 50px;
    padding: 5rem;
}
#volver{
    margin-left: 20px;
    font-size: 20px;
}
.img-fluid{
    width: 100%;
    height: 600px;
}
.form-group .btn.btn-primary{
    background: green none repeat scroll 0 0;
    border-color: #000000;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.table{
    margin-top: 10px;
    border-radius: 5px;
    
}
.image{
    width: 100%;
    height: 400px;
}
.images{
    width: 100%;
    height: 400px;
}