extends ../layout

block content
 a#volver(href="/bicicletas") volver
  
  
 .card
  br
  h1 Nueva bicicleta
  

  form.form-group(action='/bicicletas/create' method='post')
    label(for="code") ID:
    input#code.form-control(type='text' name='code')
    
    label(for="color") Color:
    input#color.form-control(type='text' name='color')
    
    label(for="modelo") Modelo:
    input#modelo.form-control(type='text' name='modelo')
    
    label(for="lat") Latitud:
    input#lat.form-control(type='text' name='lat')
    
    label(for="lng") Longitud:
    input#lng.form-control(type='text' name='lng')
    br
    button.btn.btn-primary(type='submit')  agregar 
